body {
    flex: 1;
}

.upper-content {
    background-color: #1F2937;
    color: white;
    padding: 24px 100px;
   
   
    
}

.upper-header {
    font-size: 48px;
    font-weight: 700;
}

.logo {
    font-size: 24px;
    color: F9FAF8;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

.upper-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    width: 75px;
    padding: 5px;
}

.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}

.links { 
    display: flex;
    gap: 12px;
    list-style: none;
   }

img {
    width: 300px;
    height: auto;
    display: flex;
    margin-left: auto;
   
}

.upper-content-body {
   
    display: flex;
    flex-direction: column;
    
   
}

.container {
    display: flex;
    

}